*{
    
    margin: 0;
        padding: 0;
    }
    .body{
        font-family: Arial, Helvetica, sans-serif;
    }
    .logo{
        height: 240px;
        width: 75px;
        
      
    }
    .main{
      
      display: flex;
        flex-direction: column;
        align-items: center;
        height: 100vh;
        padding-top: 30px;
        background-color: #f5fdf5;
        display: flex;
    

    }
   
    .container{
        width: 450px;
        outline-style: none;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Add shadow to the input */
       
        height:auto;
     padding: 12px;
        background-color: #fff;
        display: flex;
        flex-direction:column;
        align-items: center;
        border: none;
        border-radius: 3%;
        margin-top: 5px;
        gap: 15px;
    }
    .login{
        margin-bottom: 20px;

        text-align: center;
        font-weight: 800;
        font-size: 1.2rem;
        margin: 20px 0 10px 0;
        font-size: 25px;
    }
    .email {
     position: relative; /* set relative position for icon positioning */

    background: #fff;
    display: flex;
    align-items: center;
    border-radius: 20px;
    padding: 0 15px;
    margin-bottom: 18px;
    box-sizing: border-box;
    }
    .email i {
        position: absolute;
        left: 23px; /* Adjust the left position of the icon */
        top: 40%; /* Center the icon vertically */
        transform: translateY(-50%);
        color: #3d3c3c; /* Adjust the color of the icon */
        z-index: 1; /* Ensure the icon stays above the input */
    }
    .password input {

background: transparent;
outline: none;
border: 0;
padding-left: 30px; 
 }
.email input {

     background: transparent;
    outline: none;
    border: 0;
    padding-left: 30px; 
        }
.user {
    position: relative; /* set relative position for icon positioning */
            
            background: #fff;
            display: flex;
            align-items: center;
            border-radius: 20px;
            padding: 0 15px;
            margin-bottom: 18px;
            box-sizing: border-box;
}
.user i {
position: absolute;
left: 23px; 
gap: 5px;
top: 40%; /* Center the icon vertically */
transform: translateY(-50%);
color: #3d3c3c; /* Adjust the color of the icon */
z-index: 1; /* Ensure the icon stays above the input */
}

.user input {
background: transparent;
outline: none;
border: 0;
padding-left: 30px; 
}

input {

margin-bottom: 10px; /* Add margin to the bottom of input boxes */
border: 1px solid rgba(0, 0, 0, 0.1);
border-radius: 7px;
font-size: 15px;
padding-left: 20px;
font-weight: 500;
color: rgba(0, 0, 0, 0.5);
outline-style: none;
box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Add shadow to the input */
}
/* Added styles for checkbox and label */
.checkbox-container {
display: flex;

margin-bottom: 10px;
}
.checkbox-container p{
color: #4b4848;
}

.checkbox-container input[type="checkbox"] {
margin-right: 10px;
width: 18px; /* Adjust the width as needed */
height: 18px;
margin-bottom: 10px;
margin-left: 10px;
}
   
.login-button {
width: 80%;
outline: none;
border: 0;
border-radius: 20px;
padding: 7px 15px;
background-image: linear-gradient(to right, #ff00ff, #ffff00);
color: #fff;
font-size: 22px;
font-weight: bold;
cursor: pointer;
margin-bottom: 40px;
}   
  
    .login-button:hover{
        background-image: linear-gradient(to right, #ff00ff, #00ffff);
    
    }
  
   
  
   
    
    .msg {
        text-align: center;
        font-size: 20px;
     

    }





  
  


*{
margin: 0;
padding: 0;
font-family: sans-serif;
}
.cont{
width: 100%;
height: 100vh;
background: #000210;
display: flex;
justify-content: center; /* centering horizontally */
align-items: center; /* centering vertically */
}
.email-box{
flex-basis: 100%;
display: flex;
align-items: center;
justify-content: center; /* centering horizontally */

}
.contact-form{
flex-basis: 90%;
display: flex;
align-items: center;
justify-content: center; /* centering horizontally */

}
.email-box img{
flex-basis: 90%;
text-align: center; /* centering contents inside the box */

} .password-box img{
flex-basis: 70%;
text-align: center; /* centering contents inside the box */

}
.password-box{
flex-basis: 50%;
display: flex;
align-items: center;
justify-content: center; /* centering horizontally */

}
h1{
margin-bottom: 20px;
color: #fff;
text-align: center;
font-weight: 800;
}
.user,.email,.password{
width: 350px;
height: 43px;
background: #fff;
display: flex;
align-items: center;
border-radius: 20px;
padding: 0 15px;
margin-bottom: 18px;
box-sizing: border-box;
}
input{
width: 100%;
height: 100%;
background: transparent;
outline: none;
border: 0;
}
.fa{
margin-right: 20px;
}


@media only screen and (max-width: 570px) {
    .main{
        width: 80%;
    }
.container{
    width: 70%; 
}
input{
    width: 80%;
}
.cont{
    grid-template-columns: 1fr; /* Single column for smaller screens */
}
.email-box{
    order: 2; /* Change order of email-box */
}
.contact-form{
    order: 1; /* Change order of contact-form */
}
}